<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" 
    content="width=device, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/cadastro.css">
    <title>Editar Perfil</title>
    </head>
    <body>
        <header>
                <div class="cjr-pequena">
                    <a href="/feed" target="_blank"><img src="/Imagens/cjr.png" target="_blank"></a>
                </div>
                <div class="">
                    <a class="botao-entrar" href="/login"> Login </a>
                </div>
        </header>
        <main>
            <div class="Tudo">
                <img class="cjr-grande" src="/Imagens/cjrgrande.svg" alt="Logo cjr">
                <section class="card-cadastro">
                    <div class="imagens">
                        <img class="img-central" src="/Imagens/User Profile.png" alt="usuario">
                        <img class="img-camera" src="/Imagens/Vector.png" alt="camera pequena">
                    </div>
                    <div class="input-email">
                        <form action="">
                            <input type="text" placeholder= "Nome" id="nome" class="input_padrao">
                            <input type="text" placeholder= "Genero" id="genero" class="input_padrao">
                            <input type="text" placeholder= "Cargo" id="cargo" class="input_padrao">
                        </form>
                    </div>
                    <a href="/feed">
                        <button class="botao-entrar-fim" id="cadastro">Editar</button>
                    </a>
                </section>
            </div>
        </main>
        <script src="/scripts/editar_perfil.js"></script>
    </body>
</html>