<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" 
    content="width=device, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/feed_deslogado.css">
    <link rel="stylesheet" href="../public/styles/feed_deslogado.css">
    <title>Feed Deslogado </title>
    </head>

    <body>
        <header>
                <div class="cjr-pequena">
                    <a href=""><img src="../public/Imagens/cjr.png" target="_blank"></a>
                </div>
                <div class="">
                    <a href="http://127.0.0.1:5501/Front/Tela-Cadastro/Tela_cadastro.html" target="_blank" class="criar">Criar Conta</a>
                    <a href="http://127.0.0.1:5501/Front/Tela-Login/Tela-login.HTML" target="_blank" class="botao-entrar">Entrar</a>
                </div>
        </header>
        <section class="lista-de-post"></section>
 
    </body>
    <script src="/scripts/feed_deslogado.js"></script>
</html>
