<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" 
    content="width=device, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/feed_logado.css">
    <title>Feed Logado</title>
    </head>

    <body>
        <header>
            <div class="cjr-pequena">
                <a href="/feed"><img src="../public/Imagens/cjr.png" target="_blank"></a>
            </div>
            <div class="conteiner">
                <span class="criar" id="user"></span>
                <img src="../public/Imagens/image 1.png" class="img_pequena">
                <a href="/profile" onclick="" class="botao-entrar">Perfil</a>
            </div>
            </header>
        <section class="cabeçario">
            <div>
                <p class="altera_estilo"><strong>Publicações Gerais</strong></p>


        </section>
        <section class="lista-de-post"></section>
        <button id="dynamicLinkButton">Go to Dynamic Link</button>

        <!-- Placeholder for the dynamic link -->
        <a id="dynamicLink" href="#">Dynamic Link</a>

 
         
    </body>
    <script src="/scripts/feed_logado.js"></script>
</html>
