<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" 
    content="width=device, initial-scale=1.0">
<<<<<<< HEAD
    <link rel="stylesheet" href="/styles/feed_logado.css">
=======
    <link rel="stylesheet" href="../public/styles/feed_logado.css">
>>>>>>> 1d0aed2cd81205e150f7bd2f04a825ac8efb6233
    <title>Feed Logado</title>
    </head>

    <body>
        <header>
            <div class="cjr-pequena">
                <a href=""><img src="../public/Imagens/cjr.png" target="_blank"></a>
            </div>
            <div class="conteiner">
                <span class="criar" id="user"></span>
                <img src="../public/Imagens/image 1.png" class="img_pequena">
                <a href="/teste" target="_blank" class="botao-entrar">Perfil</a>
            </div>
            </header>
        <section class="cabeçario">
            <div>
                <p class="altera_estilo"><strong>Publicações Gerais</strong></p>


        </section>
        <section class="lista-de-post"></section>

 
         
    </body>
<<<<<<< HEAD
    <script src="/scripts/feed_logado.js"></script>
=======
    <script src="../public/scripts/feed_logado.js"></script>
>>>>>>> 1d0aed2cd81205e150f7bd2f04a825ac8efb6233
</html>
