<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" 
    content="width=device, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/login.css">
    <title>Tela de Cadastro</title>
    </head>
    <body>
        <header>
                <div class="cjr-pequena">
                    <a href=""><img src="../Imagens/cjr.png" target="_blank"></a>
                </div>
                <div class="">
                    <a class="muda-letra" href="http://127.0.0.1:5501/Front/Tela-Cadastro/Tela_cadastro.html" target="_blank">Criar Conta</a>
                    <a class="botao-entrar" target="_blank" href="http://127.0.0.1:5501/Front/Feed%20deslogado/Feed%20deslogado.HTML">Entrar</a>
                </div>
        </header>
    <main>
        <section class="card-login">
            <img class="img-central" src="../Imagens/User Profile.png" alt="usuario">
                <div class="input-usuario">
                    <form action="">
                        <input type="text" placeholder= "Usuário" id="login" class="input_padrao" >
                    </form>
                <div class="input-senha">
                    <form action="">
                        <input type="password" placeholder= "Senha" id="password" class="input_padrao">
                    </form>
                </div>
                <a class="pula-linha" href="http://127.0.0.1:5501/Front/Recuperar-Senha/Recuperar-Senha.HTML" target="_blank">Esqueceu a senha?</a>
                <button class="botao-entrar-fim" id="logar">Login</button>
        </section>
        <script src="/scripts/login.js"></script>

    </main>
    </body>
    </html>
