<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <link rel="stylesheet" href="/styles/perfil_logado.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/markdown-it/dist/markdown-it.min.js"></script>
    <title>Perfil Logado</title>
    </head>

    <body>
        <header>
                <div class="cjr-pequena">
                    <a href="/feed"><img src="../public/Imagens/cjr.png" target="_blank"></a>
                </div>
                <div class="conteiner">
                    <span class="criar" id="user"></span>
                    <img src="../public/Imagens/image 1.png" class="img_pequena">
                    <a href="/login"><img src="/Imagens/log-out.png"></a>
                </div>
        </header>
        <main>
            <section class="muda_cor">
                <span class="nome" id="user"><%= nome %></span>
                <span class="email" id="user_gmail"><%= email %></span>
                <span class="botao2">Editar Perfil</span>
                <img class="img_perfil" src="../public/Imagens/image 1.png">
            </section>
            <section>
                <button onclick="openModal()" class="botao">Criar Post</button>
                <form id="qualquer">
                    <dialog id="myModal" class="modal">
                        <div class="modal-content">
                            <span class="close" onclick="closeModal()">&times;</span>
                            <textarea id="markdownInput"></textarea>
                            <button type="submit" class="close" onclick="closeModal()">Enviar</button>
                        </div>
                    </dialog>
                </form>
            </section>
        </main>
        <section class="separador">
            <span class="publics">Publicações</span>
        </section>
        <section class="lista-de-post"></section>
    </body>
    <script src="/scripts/perfil_logado.js">
    </script>
</html>