<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" 
    content="width=device, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/feed_logado.css">
    <title>Feed Logado</title>
    </head>

    <body>
        <header>
            <div class="cjr-pequena">
                <a href="/feed"><img src="/Imagens/cjr.png" target="_blank"></a>
            </div>
            <div class="conteiner">
                <span class="criar" id="user"></span>
                <img src="../Imagens/image 1.png" class="img_pequena">
              
            </div>
            </header>
        <section class="cabeçario">
            <div>
                <h2><%= title %></h2>
                <h3><%= content %></h3>


        </section>
        <section class="lista-de-post"></section>
    </body>
   
</html>