<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" 
    content="width=device, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/recuperar_senha.css">
    <title>Tela de Cadastro</title>
    </head>

    <body>
        <header>
                <div class="cjr-pequena">
                    <a href="/feed" target="_blank"><img src="../Imagens/cjr.png"></a>
                </div>
                <div class="">
                    <a class="botao-login" href="/login"> Login </a>
                </div>
        </header>
        <main>
            <div class="Tudo">
                <img class="cjr-grande" src="../Imagens/cjrgrande.svg" alt="Logo cjr">
                <section class="card-cadastro">
                    <div class="imagens">
                    <h1 class="muda_cor"> Bem vindo de volta, fulano(a) !</h1>
                    <h1 class="muda_cor2"> Escolha sua nova senha</h1>
                    </div>
                    <div class="input-email">
                        <form action="">
                            <input type="text" placeholder= "Email" id="email" class="input_padrao">
                            <input type="text" placeholder= "Senha" id="password" class="input_padrao">
                            <input type="password" placeholder= " Confirmar senha" id="confirmedpassword" class="input_padrao">
                        </form>
                    </div>
                    <a class="pula-linha" href="/cadastro">Não possui uma conta? Acesse aqui</a>
                    <button class="botao-entrar-fim" id="enviar"> enviar</button>
                </section>
            </div>
        </main>
        <script src="/scripts/recuperar_senha.js"></script>
    </body>
</html>