* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --clr-header: #73C04A;
    --clr-dark-blue: #222e50;
    --clr-background: #111e3e;
    --clr-white: #fff;
    --clr-gray: #d9d9d9;
    --clr-dark-gray: #71767b;
  
    --ff-primary: 'Inter', sans-serif;
}

header {
    display: flex;
    justify-content:space-between; 
    align-items: center; 
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    padding: 1.2rem;
    background-color: var(--clr-header);
    font-size: 1rem;
}


.cjr-pequena {
    background-color: #ECF3fb;
    padding: 0.25rem 2rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
}

.muda-letra {
    font-size: 1.1rem;
    font-weight: bold;
}

.botao-entrar {
    font-weight: 700;
    border: none;
    border-radius: 1rem;
    color: var(--clr-white);
    background-color: var(--clr-dark-blue);
    padding: 1rem 1.25rem;
    margin-left: 20px;
    text-decoration: none;
}

.body {
    width: 100vw;
    height: 100vh;
    background-color: #032449;
}

.card-login {
    width: 500px;
    height: 600px;

    margin: 0 auto; /* Centraliza quando tem um elemento grande e um pequeno */
    display: grid;
    border-radius: 1rem;
    margin-top: 2rem;
    background-color: var( --clr-dark-blue);
}

.img-central img {
    width: 60%;
}

.img-central {
    margin-left: 9rem;
    filter: brightness(0);

}

.input-usuario {
    text-align: center;
    border-radius: 10px;
    margin-left: 2.7rem;
    color: #000000;
}

.input-senha {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 2rem;
}
.input_padrao {
    display: block;
    width: 26rem;
    height: 3rem;
    background-color: var(--clr-gray);
    border-radius:1rem;
    border: none;
    font-size: 1.2rem;
    color: #000000;
    padding-left: 1rem;
}

.pula-linha {
    display: block;
    margin-bottom: 2rem;
    margin-right: 3rem;
    color: #000000;
    text-decoration: underline;
}

.botao-entrar-fim {
    padding: 1rem 9rem;
    border-radius: 1rem;
    border: none;
    font-weight: 700;
    color: var(--clr-dark-blue);
    background-color: var(--clr-gray);
    margin-right: 3.5rem;

}

main {
    width: 100vw;
    height: 100vh;
    background-color: var( --clr-background);
    border: 1px solid #000000;
}

.botao-entrar-deslogado{
    padding: 1rem 6.3rem;
    border-radius: 1rem;
    border: none;
    font-weight: 700;
    color: var(--clr-dark-blue);
    background-color: var(--clr-gray);
    margin-right: 3.5rem;
    margin-top: 1rem;
    
}
